/* //////////////////////////////////// */
/* Menu section */
/* //////////////////////////////////// */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 8vw;
  height: 8vh;
  /* the opacity hides the checkbox */
  opacity: 0;
}
.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 11vw;
  height: 6vh;
  margin: 1vh 0 0 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hamburger lines, este selector selecciona el hijo inmediato de hamburger */
.hamburger > div {
  position: relative;
  margin: auto;
  width: 60%;
  height: 2px;
  /* Sin background y height el cuerpo de las lineas de: 2px serian invisible */
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  /* this property allows rotation of hamburger, see line of code #149 or so  */
  transition: all 0.4s ease;
}
.hamburger > div:before,
.hamburger > div:after {
  content: "";
  background: aliceblue;
  position: absolute;
  z-index: 1;
  top: -1.5vh;
  /* property above moves hamburger menu up and down */
  margin: auto;
  width: 100%;
  height: 2px;
}
/* This moves down the last line of the hamburger */
.hamburger > div:after {
  top: 1.5vh;
  /* property above moves hamburger menu up and down */
}
/* This animates the hamburger */
.toggler:checked + .hamburger > div {
  /* see line of code #129 or so */
  transform: rotate(135deg);
}
/* Turns hamburger into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  transform: rotate(90deg);
  top: 0;
}
/* Rotate on hover when checked*/
.toggler:checked + .hamburger > div {
  transform: rotate(225deg);
}
/* Shows Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transform: opacity 0.4s ease;
}

/* Styles for menu */
.menu-wrap .menu {
  position: fixed;
  top: -14vh;
  left: -11vw;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--font-color);
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* //////////////////////////////////// */
/* Menu section End*/
/* //////////////////////////////////// */
