* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* random shit */
  --outline-edges-theme: 0.04rem solid #8332ac;
  /* --boxshadow: 0.1rem 0.1rem 1rem black; */
  /* bg colors */
  --body-bg-color: rgba(187, 119, 154, 0.5);
  --overlay-color: rgba(45, 35, 46, 0.85);
  /* fonts and paragraph related */
  --font-family-not-header: "Gayathri", sans-serif;
  --font-color: white;
  --overall-line-height: 1.4;
  --letterspacing: 0.15rem;
  /*--------- unknown custom properties ---------*/
  --menu-speed: 0.75s;
  /* layout handling */
  --section-fullheight: 100vh;
}
body {
  /* background: var(--body-bg-color, rgba(187, 119, 154, 0.5)); */
  font-family: var(--font-family-not-header);
  line-height: var(--overall-line-height);
}
.logo {
  width: 10vw;
  /* The positioning is done relative to the first relatively (or absolutely) positioned parent element. In the case when there is no positioned parent element, it will be positioned related directly to the HTML element (the page itself).  */
  position: absolute;
  /* Positioning properties like bellow create a gap towards the left between the parent (body) and itself (logo) */
  left: 87vw;
  top: 2vh;
  z-index: 2;
}
/* This is the section where the main image is  */
.shakepic {
  position: absolute;
  height: var(--section-fullheight);
  z-index: 0;
}
.container {
  width: 100vw;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: var(--body-bg-color);
  box-shadow: inset 0 -2rem 1rem -1rem #c58daa,
    inset 0 -14rem 10rem -10rem #c58daa;
  /* This Box Shadow is what makes a degraded between first and second sections */
}
.showcase {
  color: var(--font-color);
  height: var(--section-fullheight);
  position: relative;
}
.showcase .showcase-inner {
  align-items: center;
  text-align: center;
  height: 100vh;
  /* font-weight: bolder; */
  letter-spacing: 0.15rem;
  padding: 19vh 14vw 0 14vw;
}
.showcase h1 {
  font-size: 2.2rem;
}
.showcase p {
  letter-spacing: var(--letterspacing);
  padding-top: 4vh;
  text-align: justify;
}
.btn {
  display: inline-block;
  font-weight: bold;
  border: none;
  background: var(--body-bg-color);
  color: var(--font-color);
  padding: 5vh 9vw;
  margin-top: 14vh;
  text-decoration: none;
  border-radius: 8%;
  border: var(--outline-edges-theme);
  /* el 1er valor es el eje horizontal, el 2do el vertical, el 3ro el blur, el 4to alarga las sombra hacia todas direcciones */
  /* en esta propiedad los dos primeros valores de sombras proyectan sombra hacia abajo creando un efecto de blur y oscuridad mas marcados y que no se logra con un solo value de sombra */
  /*tambien se puede usar 3 valores inset lo que logra 3 colores distintos dentro, hay que jugar bastante con el 4 value de las sombras para lograr esto */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 19px 19px rgba(0, 0, 0, 0.23),
    inset 0 -15px 28px #a469c2;
}

/* Second section, just bellow landpage */
.side-bar {
  width: 18vw;
  height: 13vh;
  margin-left: 1vw;
  border-radius: 50%;
  /* border: 0.4px solid red; */
  background: linear-gradient(
    130deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 228, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  position: relative;
  z-index: 2;
  box-shadow: inset 10px -6px 10px 3px rgba(0, 0, 0, 0.23),
    inset -1px 1px 10px 0.5px rgb(250, 249, 247);
}
.content {
  width: 35vw;
  height: 20vh;
  float: right;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    205deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  z-index: 1;
  margin: -2rem 1rem 0 0;
  box-shadow: -10px 6px 10px 3px rgba(0, 0, 0, 0.23),
    inset 10px -6px 10px 3px rgba(0, 0, 0, 0.23),
    inset -1px 1px 10px 0.5px rgb(250, 249, 247);
}
.upper-main {
  /* TODO cambiar color de background  */
  position: relative;
  z-index: 2;
  background: linear-gradient(328deg, rgba(69,189,252,1) 1%, rgba(107,29,253,1) 40%, rgba(253,29,173,1) 90%);

  );
  box-shadow: 0 19px 20px 3px rgba(0, 0, 0, 0.23),
    inset 10px -6px 10px 3px rgba(0, 0, 0, 0.23),
    inset -1px 1px 10px 0.5px rgb(250, 249, 247);
  height: 90vh;
  width: 100vw;
  border-radius: 50%;
  margin: auto;
}
.divfortesting-zindex {
  /* TODO cambiar color de background  */
  position: relative;
  z-index: 3;
  background: #c58daa;
  height: 65vh;
  width: 70vw;
  float: left;
  border-radius: 50%;
  margin: 1em 0 0 1em;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.23);
  /* inset -1px 0 10px 0.5px rgb(0, 0, 0, 0.23); */
}
.main-container {
  /* TODO cambiar color de background  */
  background: linear-gradient(
    180deg,
    rgba(187, 119, 154, 0.85),
    rgba(187, 119, 154, 0.65),
    rgba(187, 119, 154, 0.03)
  );
  overflow: hidden;
  height: 100vh;
  /* con overflow hidden el texto debajo de esta seccion no se cola al inicio, recuerde q float saca los elementos del flow normal, los elementos siguientes tomarian su lugar, para que overflow hidden sea efectivo se tiene que usar en el papa de los hijos que estan flotando  */
}
/* End of second section */

/* Outline y Border */
.one {
  width: 80%;
  margin: 1rem auto;
  outline: 0.1rem solid red;
  outline-offset: -0.2rem;
}
.two {
  width: 80%;
  margin: 1rem auto;
  border: 0.1rem solid red;
}
[type="radio"] {
  /*--------- Para dar estilo a los inputs del form ---------*/
  margin: 20px 0px 20px 0px;
}
